/* TAGGED USERS */
// prettier-ignore
$tagged: (
	// Admins
	"194151269399527425": "OriCV Admin",			// untuned
	"144881947557101568": "OriCV Admin",			// Zerthox

	// Team
	"332394843743584256": "OriCV Team",			// cruxie
	"240437190339854337": "OriCV Team",			// Leozard
	"126652966265421824": "OriCV Team",			// Scars
	"393900343135830016": "OriCV Team",			// Nyx

	// Contributors
	"335677038830682112": "OriCV Contributor",		// Snow
	"195270435015884800": "OriCV Contributor",		// Daemonicdeveloper
	"236579127090610176": "OriCV Contributor",		// Danielle
	"97797564866236416":  "OriCV Contributor",		// Heebeejeebees
	"150750980097441792": "OriCV Contributor",		// Orangutan
	"213067580531933196": "OriCV Contributor",		// KitKat

	// Legacy Donators
	"262989909411758080": "OriCV Donator",			// coldarchie
	"168551219135119361": "OriCV Donator",			// Auroatic
	"241500427105992704": "OriCV Donator",			// Ghost_Recon131
	"151995147150819328": "OriCV Donator",			// It
	"157699533134888961": "OriCV Donator",			// Jayzer
	"157492606752784384": "OriCV Donator",			// Kazumi
	"174525242939670528": "OriCV Donator",			// lts
	"78890013378486272":  "OriCV Donator",			// Macpot
	"213263668312408066": "OriCV Donator",			// Nikolas
	"152431535914614785": "OriCV Donator",			// Paco
	"112619227466182656": "OriCV Donator",			// PieterVMB
	"297873043265552384": "OriCV Donator",			// PureFallen
	"258031697646321666": "OriCV Donator",			// Rich246™
	"109933711142719488": "OriCV Donator",			// Samboy Chips
	"251260900252712962": "OriCV Donator",			// viwalon
	"199184208319610880": "OriCV Donator",			// xImGaming
	"122731339890950145": "OriCV Donator",			// Lilith
	"436228721033216009": "OriCV Donator",			// Hattyot
	"66214870705516544":  "OriCV Donator",			// Lordmau5
	"172426681800196096": "OriCV Donator",			// Luan San
	"158311402677731328": "OriCV Donator",			// theLMGN
	"284122164582416385": "OriCV Donator",			// Aetheryx
	"107965218868457472": "OriCV Donator",			// Mudock Yatho
	"183795147236966412": "OriCV Donator",			// blamecoopa
	"245133485688225793": "OriCV Donator",			// Shadowcloud

	// Testers, commented out for now as we aren't really testing anything.
	/*
	"266991742216175616": "OriCV Tester",			// Alpha$★☆
	"97549189629636608":  "OriCV Tester",			// Baked
	"128948605263413248": "OriCV Tester",			// Dingus
	"168481642309091328": "OriCV Tester",			// Jen
	"165581066524950530": "OriCV Tester",			// MoXAriApph
	"102621249892544512": "OriCV Tester",			// Shiniyami ߷
	"94553281296084992":  "OriCV Tester",			// Squibbus
	"85410928408924160":  "OriCV Tester",			// †电离龙†
	"143476079267414016": "OriCV Tester",			// Reĝino Kastilo
	"131917628800237570": "OriCV Tester",			// FunkoChan
	"155379920242081793": "OriCV Tester",			// Dimii04
	"135130130942132224": "OriCV Tester",			// MTPyronaut
	"123340872333918215": "OriCV Tester",			// Purvesh9211
	"250721335305568258": "OriCV Tester",			// Valcreed
	"297041315852713984": "OriCV Tester",			// Zou_Yongqi
	"128006451053592577": "OriCV Tester",			// Rawrcolond
	"102009847792291840": "OriCV Tester",			// SirSuperDeath
	"513423192484872223": "OriCV Tester",			// O...O (yes that's a real username)
	"580867069621567488": "OriCV Tester",			// skyspell413 / Primrose
	*/

	// Translators / Guide Makers
	"538745942493495298": "OriCV Translator",		// Kuroikitten
	"265627010733178892": "OriCV Guide Maker",		// Big Steve

	// Former OriCV Team Members
	"309976820109803520": "Former OriCV Team",		// Leafy

	//Me!
	"495195924587347968": "Me!", 

	//Friends
	"706215584437633066": "Quang",
	"541095745810333716": "Trí",
	"919568417411969024": "Đức",
	"932187667892957254": "DGK",
	"646570766623571978": "Bẻo",
	"919944221337726996": "Sơn",
	"849311914659545169": "NgLinh",
	"940545833147969546": "Cò",
	"840131232214024212": "Nam",
	"908553127530205194": "Đanh",
	"918682835458609162": "Lâm",
	"896751570056777779": "NMinh",
	"864903181330546700": "Panh",
	"1036232640719749151": "Bùi"

);

// OUTPUT
%messageContent > img {
  & ~ %messageHeader > %messageHeaderText > %messageUsername::after {
    content: none;
    color: currentcolor;
    text-shadow: 0 0 2px currentcolor;
    border: 1px solid;
    border-radius: 6px;
    margin-left: 8px;
    background-color: rgba(255, 255, 255, 0.07);
    font-size: 10px;
    padding: 0 5px;
  }
  @each $user_id, $tag in $tagged {
    &[src*='#{$user_id}'] ~ %messageHeader > %messageHeaderText > %messageUsername::after {
      content: $tag;
    }
  }
}
